{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>AI Dogs Classifier</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" referrerpolicy="no-referrer"  >
    <link rel="icon" href="{% static '1381707-200.png' %}" referrerpolicy="no-referrer"  >
</head>

<body>
<main class="root">
    <h1>AI will tell you the dog's breed</h1>
    <article class="wrapper-main">
        <form method="post" id="url-form">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Submit</button>
        </form>
        <button class="clear-btn">Clear</button>
    </article>


    <article class="result-section"></article>
    <div id="correct-button-holder"><button id="correct-button" type="submit" style="display: none">Correct</button></div>

    <article class="details">
        <header>
            <h2 id="show-details">Show Details</h2>
        </header>

        <main class="info" style="display: none">
            <ul>
                <li>This Neural Network is built using Deep Transfer Learning with Inception-Resnet Architecture. <a
                        href="https://arxiv.org/pdf/1602.07261.pdf" target="_blank">CLICK</a>.
                </li>
                <li>There is 91% chance to give you the correct breed right away and 99% chance the correct one to be in
                    its top 3 suggestions.
                </li>
                <li>It's trained on 120 different breeds so there is always a probability that you will feed it with
                    unknown target.
                </li>
                <li>It might have problems with some file formats so please stick to JPG/JPEG/PNG</li>

            </ul>
            <h3>All the Breeds that AI knows:</h3>
            <p>'Chihuahua',
            'Japanese_spaniel',
            'Maltese_dog',
            'Pekinese',
             'Shih_Tzu', 'Blenheim_spaniel',
            'papillon',
            'toy_terrier',
            'Rhodesian_ridgeback',
             'Afghan_hound',
             'basset',
            'beagle',
             'bloodhound',
            'bluetick',
            'black_and_tan_coonhound',
             'Walker_hound',
            'English_foxhound',
             'redbone',
             'borzoi',
            'Irish_wolfhound',
            'Italian_greyhound',
            'whippet',
             'Ibizan_hound',
             'otterhound',
             'Saluki',
             'Scottish_deerhound',
             'Weimaraner',
             'Staffordshire_bullterrier',
             'Bedlington_terrier',
             'Border_terrier',
             'Kerry_blue_terrier',
             'Irish_terrier',
             'Norfolk_terrier',
             'Norwich_terrier',
            'Yorkshire_terrier',
             'wire',
             'Lakeland_terrier',
            'Sealyham_terrier',
             'Airedale',
             'cairn',
            'Australian_terrier',
             'Dandie_Dinmont',
             'Boston_bull',
             'miniature_schnauzer',
             'giant_schnauzer',
             'standard_schnauzer',
             'Scotch_terrier',
             'Tibetan_terrier',
             'silky_terrier',
             'soft',
             'West_Highland_white_terrier',
             'Lhasa',
             'flat',
             'curly',
             'golden_retriever',
             'Labrador_retriever',
            'Chesapeake_Bay_retriever',
             'German_short',
             'vizsla',
             'English_setter',
            'Irish_setter',
             'Gordon_setter',
             'Brittany_spaniel',
            'clumber',
             'English_springer',
             'Welsh_springer_spaniel',
             'cocker_spaniel',
             'Sussex_spaniel',
             'Irish_water_spaniel',
             'schipperke',
             'groenendael',
             'malinois',
             'briard',
             'kelpie',
             'komondor',
             'Old_English_sheepdog',
            'Shetland_sheepdog',
             'collie',
             'Border_collie',
            'Bouvier_des_Flandres',
             'Rottweiler',
            'German_shepherd',
             'Doberman',
            'miniature_pinscher',
             'Greater_Swiss_Mountain_dog',
             'Bernese_mountain_dog',
             'Appenzeller',
             'EntleBucher',
             'boxer',
             'bull_mastiff',
             'Tibetan_mastiff',
             'French_bulldog',
            'Great_Dane',
             'Saint_Bernard',
             'Eskimo_dog',
             'malamute',
             'affenpinscher',
             'basenji',
             'pug',
            'Leonberg',
             'Newfoundland',
             'Great_Pyrenees',
             'Samoyed',
            'Pomeranian',
             'chow',
             'keeshond',
             'Brabancon_griffon',
             'Pembroke',
             'Cardigan',
            'toy_poodle',
             'miniature_poodle',
             'standard_poodle',
             'Mexican_hairless',
             'dingo',
             'African_hunting_dog',
                'Karakachanka'
            </p>
        </main>
    </article>

</main>

<script src="{% static 'api_calls.js' %}"></script>
</body>
</html>